.big-widgets-general {
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 1em;

    height: calc(100vh - 350px);

    margin-left: 30px;
    margin-right: 30px;


}

.big-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid lightgrey;

    background-color: white;

    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.big-widget:hover{
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
    .big-widgets-general {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1em;
        height: 500px;
    }
}