.big-widgets-general {
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 20px;
    row-gap: 40px;
    margin: 30px;
    height: 39vh;

}

.big-widget {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 39vh;
    cursor: pointer;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transform-origin: bottom;
}

.big-widget:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
    .big-widgets-general {
        grid-template-columns: 1fr;
    }
}