.small-widgets-general {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 40px;
}





.small-widget1 {
    display: flex;
    border-width: 1px;
    border-color: #309be1;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
    height: 70px;
}

.small-widget1-color-patienten{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #309be1;
    color: #309be1;
    border-radius: 30px;
    height: 45px;
    width: 7px;
    justify-content: start;
}
.small-widget1-text-patienten{
    margin-left: 12px;
    color: black;
    justify-content: center;
    max-height: 60px;
}





.small-widget2 {
    display: flex;
    border-width: 1px;
    border-color: #9a43dd;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
    height: 70px;
}

.small-widget2-color-patienten{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #9a43dd;
    color: #9a43dd;
    border-radius: 30px;
    height: 45px;
    width: 7px;
    justify-content: start;
}
.small-widget2-text-patienten{
    margin-left: 12px;
    color: black;
    justify-content: center;
    max-height: 60px;
}





.small-widget3 {
    display: flex;
    border-width: 1px;
    border-color: #3bdd48;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
    height: 70px;
}

.small-widget3-color-patienten{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #3bdd48;
    color: #3bdd48;
    border-radius: 30px;
    height: 45px;
    width: 7px;
    justify-content: start;
}
.small-widget3-text-patienten{
    margin-left: 12px;
    color: black;
    justify-content: center;
    max-height: 60px;
}





.small-widget4 {
    display: flex;
    border-width: 1px;
    border-color: #dd2e2e;
    border-style: solid;
    background-color: white;
    color: black;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
    height: 70px;
}

.small-widget4-color-patienten{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #dd2e2e;
    color: #dd2e2e;
    border-radius: 30px;
    height: 45px;
    width: 7px;
    justify-content: start;
}
.small-widget4-text-patienten{
    margin-left: 12px;
    color: black;
    justify-content: center;
    max-height: 60px;
}