.general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    margin-top: 100px;
    padding-bottom: -500px;

    height: 100%;
    min-height: 550px;
}

.general-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 80%;

    border-radius: 15px;
    /* border-color: lightgray;
    border-width: 1px;
    border-style: solid; */

    margin-bottom: 7.5%;
}

.general-inner-container:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


.text {
    background-color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 28px;

    width: 80%;
    height: 13%;

    position: relative;
    top: 0;
    margin-top: 4%;
    margin-bottom: 3%;

    border-color: rgb(204, 202, 202);
    border-width: 1px;
    border-style: solid;
}


.field-container {

    align-items: center;
    margin-top: 1%;
    margin-bottom: 8%;

    width: 70%;
    height: 85%;
    max-width: 650px;
    max-height: 450px;
    min-width: 550px;
    min-height: 350px;

    position: relative;
}


.text-fields-container {
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80%;

    position: absolute;
    top: 0; /* Stickt diesen container an den Top von .field-container */
}


.contact-inputs {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 5%;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif, Arial;
    min-height: 45px;
}

.contact-inputs:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.contact-inputs::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}


.contact-messages {
    width: 80%;
    height: 40%;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 25px;

    border: none;
    outline: none;
    border-radius: 20px;

    font-size: 20px;
    font-family: "Quicksand", sans-serif, Arial;

    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;

    background-color: white;
}

.contact-messages:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.contact-messages::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    min-height: 120px;

    position: absolute;
    bottom: 0;
}





/* Button zum senden: */


.submit-button {
    width: 200px;
    height: 60px;

    border-color: rgb(204, 202, 202);
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    outline: none;

    background: white;

    color: black;
    font-size: 20px;
    text-align: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    margin-top: 45px;

}

.check-box {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -30px;
    opacity: 0;
    transition: opacity 1s ease, right 1s ease;
}

.check-box svg {
    width: 30px;
    margin: 15px;
    opacity: 0;
    transition: opacity 1s ease;
}

svg path {
    stroke-width: 2.5;
    stroke: #fff;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease;
}

.active {
    background: #19df4f;
    color: white;
    transition: background 1s ease;
}

.active .check-box {
    right: 0;
    opacity: 1;
}

.active .check-box svg {
    opacity: 1;
    transition-delay: 1s;
}

.active svg path {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease;
    transition-delay: 1s;
}

.active p {
    margin-right: 100px;
    transition: margin-right 1s ease;
}