.general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    margin-top: 100px;
    padding-bottom: -500px;

    height: 100%;
    min-height: 550px;

}




.text {
    background-color: white;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 28px;

    width: 80%;
    height: 13%;

    position: relative;
    top: 0;
    margin: 0.5%;

    border-color: rgb(204, 202, 202);
    border-width: 1px;
    border-style: solid;
}


.field-container {
    border-radius: 30px;

    align-items: center;
    margin-top: 1%;
    margin-bottom: 8%;

    width: 70%;
    height: 85%;
    max-width: 650px;
    max-height: 450px;
    min-width: 550px;
    min-height: 350px;

    position: relative;
}




.text-fields-container {
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80%;

    position: absolute;
    top: 0; /* Stickt diesen container an den Top von .field-container */

}


.contact-inputs {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 5%;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif, Arial;
    min-height: 45px;
}

.contact-inputs:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.contact-inputs::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}


.contact-messages {
    width: 80%;
    height: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif, Arial;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    background-color: white;
}

.contact-messages:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.contact-messages::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}


.button-container {

    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;

    position: absolute;
    bottom: 0;

}

.submit-button {
    border-color: rgb(204, 202, 202);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;

    color: black;
    font-size: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.15s;

    background-color: white;

    width: 200px;
    height: 48px;

    margin-top: 8%;

    cursor: pointer;
}