body.loadingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
body.loadingpage.dark {
    background-color: rgba(250, 246, 240, 255);
}
body.loadingpage.dark {
    background-color: black;
}
.loading-text {
    font-size: 48px;
    white-space: nowrap;
    font-family: "Times New Roman", Times, serif;
    animation: slide-in 0.85s forwards;
}
.loading-text.light {
    color: black;
}
.loading-text.dark {
    color: white;
}
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}