@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

div {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

body{
background-color: rgba(250,246,240,255)
}
body.homepage {
    margin: 0;
    padding-top: 95px;
    background-color: rgba(250,246,240,255);
    cursor: default;
}

body.rules {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Scrollen wird komplett verhindert */

    background-color: rgba(250,246,240,255);
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
    cursor: default;
}

body.rules::before { /* Dies ist für den nicht-gepunkteten-beigen Untergrund bei der Regeln - Leftbar */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 275px;
    height: 100%;
    background-color: rgba(250,246,240,255);
    pointer-events: none;
}

span {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}
pre {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

button {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

p {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

search::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}
