@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

div {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

body {
    margin: 0;
    padding-top: 47px;
    background-color: #f1eded;
    cursor: default;
}
span {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}
pre {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

button {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

p {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

search::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}
