@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
div {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}



body.light {
    background-color: rgba(250, 246, 240, 255);
    width: 100%;
    height: 100vh;
}

body.dark {
    background-color: black;
}





/* Light Mode für die Startpage */
.homepage.light {
    background-color: rgba(250, 246, 240, 255);
    height: 100vh;
}

.homepage.light .small-widget1,
.homepage.light .small-widget2,
.homepage.light .small-widget3,
.homepage.light .small-widget4 {
    background-color: white;
}

.homepage.light .big-widget {
background-color: white;
}


/* Dark Mode für die Startpage */

.homepage.dark {
    background-color: black;
    height: 100vh;
}

.homepage.dark .small-widget1,
.homepage.dark .small-widget2,
.homepage.dark .small-widget3,
.homepage.dark .small-widget4 {
    background-color: rgba(250, 246, 240, 255);
    border-color: rgba(250, 246, 240, 255);
}

.homepage.dark .big-widget {
    background-color: rgba(250, 246, 240, 255);
}


.homepage.dark .header {
    background-color: black;
    border-width: 1px;
    border-color: white;
}

.homepage.dark .search-bar{
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.homepage.dark .search-bar::placeholder{
    color: white;
}








body.rules {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    background-color: rgba(250, 246, 240, 255);
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
    cursor: default;
}



body.support {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    cursor: default;


    overflow-y: hidden;
}

body.LogInOutPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    cursor: default;


    overflow-y: hidden;
}

span {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

pre {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}

button {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}


p {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

search::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
}
