.header {
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top:0;
    left:0;

}

.left-section {
    background-color: white;
    display: flex;
    align-items: center;
}

.middle-section {
    background-color: white;
}
.right-section {
    background-color: white;
}

.login {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-width: 0;
}