.header {
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: space-evenly;
}

.left-section {
    background-color: green;
    display: flex;
    align-items: center;
}

.middle-section {
    background-color: lightgreen;
}
.right-section {
    background-color: red;
}

.login {

}