.header {
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);

}

.topbar-functional-divs {
    justify-content: center;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-left: 35px;

}

.icons-left {
    height: 30px;
    margin-left: 45px;
    display:inline-block;
}


.middle-section {
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 40%;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    border-radius: 30px;
    outline: none;
    font-family: "Quicksand", sans-serif, Arial;
}

.icon-link {
    display:inline-flex;

}

.search-bar:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.search-bar::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
    font-style: italic;
}

.right-section {

    display: flex;
    align-items: center;

}

.login {
    height: 30px;
    margin-right: 35px;
}

.mode{
    margin-right: 45px;
    height: 30px;
    cursor: pointer;
}
.icons-right {
    margin-right: 45px;
    height: 40px;
}

