.header {
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);

    /*background-color: red;*/

}

.topbar-functional-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    /*background-color: rebeccapurple;*/
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    /*background-color: green;*/
}

.logo {
    height: 35px;
    margin-left: 30px;

    background-color: white;
}

.icons {
    height: 35px;
    padding: 3px;
    border-radius: 9px;

    /*background-color: greenyellow;*/
}

.icons:hover {
    transform: scale(1.01, 1.01);
     box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}


.middle-section {
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 40%;
    display: flex;
    align-items: center;

    /*background-color: yellow;*/
}

.search-bar {
    flex: 1;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    border-radius: 30px;
    outline: none;
    font-family: "Quicksand", sans-serif, Arial;
}

.icon-link {
    background-color: rgb(192, 192, 192);
}

.search-bar:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.search-bar::placeholder {
    font-family: "Quicksand", sans-serif, Arial;
    font-weight: 500;
    font-style: italic;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-right: 30px;

    /*background-color: yellow;*/
}

.mode {
    cursor: pointer;
}


/* Hamburger-Menü standardmäßig ausgeblendet */
.hamburger-menu {
    display: none; /* Standardmäßig ausgeblendet */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


.hamburger-menu-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 55px;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    background-color: rgba(250, 246, 240, 255);
}

.logo-in-hamburger-menu{
    height: 35px;
    margin-right: 45%;
}


.hamburger-button {
   /* background: none;

    border: none;
    border-radius: 9px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 37px;
    height: 35px;

    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: green; */


}

.hamburger-icon {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: all 0.3s ease;

}

/* Animation für das Hamburger-Icon bei Öffnung */
.hamburger-button.open .hamburger-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-button.open .hamburger-icon:nth-child(2) {
    opacity: 0;
}

.hamburger-button.open .hamburger-icon:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Overlay-Menü */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 246, 240, 255);
    display: none; /* Standardmäßig ausgeblendet */
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
}

.menu-overlay.open {
    transform: translateY(0);
}


.menu-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-items a {
    color: gray;
    font-size: 30px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.25s ease, transform 0.25s ease;
}


.menu-overlay.open .menu-items a {
    opacity: 1;
    transform: translateY(0);
}

.menu-overlay.open .menu-items a:nth-child(1) {
    transition-delay: 0.4s;
}

.menu-overlay.open .menu-items a:nth-child(2) {
    transition-delay: 0.5s;
}

.menu-overlay.open .menu-items a:nth-child(3) {
    transition-delay: 0.6s;
}

.menu-overlay.open .menu-items a:nth-child(4) {
    transition-delay: 0.7s;
}

.menu-overlay.open .menu-items a:nth-child(5) {
    transition-delay: 0.8s;
}

.menu-overlay.open .menu-items a:nth-child(6) {
    transition-delay: 0.9s;
}


.menu-items a:hover {
    text-shadow: 0.1px 0.1px 4px rgba(0, 0, 0, 0.15);
    color: black;
}


@media screen and (max-width: 800px) {

    .hamburger-menu {
        display: block;
    }


    .header {
        display: none;
    }

    .menu-overlay {
        display: flex;
    }

}