.frame-add {
    background-color: transparent;
    z-index: 200;
    position: fixed;
    top: 145px;
    bottom: 15px;
    left: 313px;
    right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    overflow-y: auto;
    padding: 10px;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.frame-add-big {
    z-index: 200;
    position: fixed;
    top: 145px;
    bottom: 15px;
    left: 113px;
    right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    overflow-y: auto;
    padding: 10px;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.text-field-frame {
    background-color: lightgray;
    z-index: 200;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 56px;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    overflow-y: hidden;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.input-frame {
    background-color: transparent;
    z-index: 200;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 56px;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.information-text-field {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    width: 70%;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background-color: rgba(250, 246, 240, 255);
    min-height: 250px;
    min-width: 450px;
}

.header-text-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 28px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background-color: white;
}

.input-text-field {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    outline: none;
    padding-left: 5%;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    font-family: "Quicksand", sans-serif, Arial;
    overflow-wrap: break-word;
    overflow-y: scroll;
    transition: background-color 1.1s ease, color 1.1s ease, border-color 1.1s ease;
}

.frame-input {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 20px;
}

.OK-Button {
    height: 100%;
    width: 100px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-width: 1px;
    border-color: lightgray;
    right: 20px;
    border-style: solid;
    font-weight: 500;
    font-size: 20px;
    font-family: "Quicksand", sans-serif, Arial;
    background-color: white;
    cursor: pointer;
    transition: background-color 1.1s ease, color 1.1s ease, border-color 1.1s ease;
}

.grid-different-button {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.query-button {
    font-size: 26px;
    border-radius: 15px;
    transition-duration: 0.15s;
    width: 214px;
    height: 110px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    padding: 20px;
    transition: background-color 1.1s ease, color 1.1s ease, border-color 1.1s ease;
}

.query-button.light {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
}

.query-button.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.query-button.dark {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.query-button.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px white;
}

.arrow-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 33px;
    margin-right: 33px;
}

.arrow-right-size {
    height: 60px;
}
