
.button-general {
    color: black;
    font-size: 26px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    transition-duration: 0.15s;
    cursor: pointer;
    margin-bottom: 35px;
    background-color: white;

    border-width: 1px;
    border-style: solid;
    align-items: center;

    width: 210px;
    height: 48px;
}

.button-middle {
    align-items: center;
    display: inline-block;
    text-align: center;

    color: black;
    background-color: white;
    font-size: 26px;
    border-style: solid;
    border-radius: 15px;

    transition-duration: 0.15s;

    width: 210px;
    height: 50px;
    margin-bottom: 35px;
    border-width: 1px;

    cursor: default;
}

button:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}



.startseite-button {
    margin-top: 35px;
}

.regeln-button {
    display: inline-block;
}

.button-container {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.hidden-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.5s ease;
}

.extra-button {
    font-size: 16px;
    padding: 8px 15px;
    margin-bottom: 15px;
    width: 170px;

}

.button-container:hover .hidden-buttons {
    display: flex;
    max-height: 300px;
    opacity: 1;
}