.left-bar-shown {
    width: 256px;
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 30px;
    margin-left: 14px;
    margin-top: 14px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 202, 202);


    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.left-bar-hidden {

    background-color: white;
    z-index: 200;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 30px;
    margin-left: 14px;
    margin-top: 14px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 202, 202);


    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
}

.left-bar-backdiv {

    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 275px;
    height: 100%;
    background-color: rgba(250, 246, 240, 255);

}


.top-leftbar-section {
    display: flex;
    flex-direction: row;

}

.right-section-rules {
    z-index: 200;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 74px;
    margin-left: 45vh;
    width: 76%;
    height: 100%;

}

.rules-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding-right: 12px;

}
.right-section-rules-hidden {
    z-index: 200;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    top: 74px;
    margin-left: 7%;
    width: 93%;
    height: 100%;

}

.frame-rules{
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 30px;
    margin-left: 14px;
    margin-top: 14px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 202, 202);


    height: 90%;
    width:90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    backface-visibility: hidden;
}

.name-section {
    z-index: 200;
    position: fixed;
    top: 74px;


}

.hamburger-menu-picture {
    height: 30px;
    cursor: pointer;

}

.arrow-left {
    height: 30px;
    cursor: pointer;
}

.searchbar-menu {
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px;

}

.hamburger-menu {
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.arrow-menu {
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-section {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
}


