.button-general-leftbar {
    font-size: 26px;

    border-radius: 15px;

    display: inline-block;
    text-align: center;
    align-items: center;

    transition-duration: 0.15s;
    cursor: pointer;
    margin-bottom: 35px;

    width: 214px;
    height: 48px;

    transition: color 1.1s ease, background-color 1.1s ease, border-color 1.1s ease;
}


.button-general-leftbar.light {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
}


.button-general-leftbar.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.button-general-leftbar.dark {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.button-general-leftbar.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px white;
}


.button-general-leftbar-add {
    font-size: 26px;
    border-radius: 15px;

    transition-duration: 0.15s;
    cursor: pointer;

    margin-bottom: 35px;

    overflow-y: scroll;
    width: 214px;
    height: 110px;

    transition: background-color 1.1s ease, color 1.1s ease, border-color 1.1s ease;
}

.button-general-leftbar-add.light {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
}

.button-general-leftbar-add:hover.light {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-general-leftbar-add.dark {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.button-general-leftbar-add:hover.dark {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px white;
}


.button-middle {
    position: fixed;

    font-size: 26px;
    border-style: solid;
    border-radius: 15px;

    transition-duration: 0.15s;

    width: 214px;
    height: 50px;
    border-width: 1px;

    cursor: default;

    transition: background-color 1.1s ease, color 1.1s ease;
}

.button-middle.light {
    color: black;
    background-color: white;
    border: 1px solid lightgray;
}

.button-middle.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.button-middle.dark {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.button-middle.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px white;
}



button:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}


.startseite-button {
    margin-top: 35px;
}

.regeln-button {
    display: inline-block;
}

.button-container {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.hidden-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.5s ease;
}

.extra-button {
    font-size: 16px;
    padding: 8px 15px;
    margin-bottom: 15px;
    width: 170px;

}

.button-container:hover .hidden-buttons {
    display: flex;
    max-height: 300px;
    opacity: 1;
}