.left-bar-shown {
    width: 256px;

    z-index: 200;
    position: fixed;
    top: 74px;
    display: flex;
    flex-direction: column;

    border-radius: 30px;
    margin-left: 14px;
    bottom: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 202, 202);


    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out, background-color 1.1s ease;
    backface-visibility: hidden;
}

.left-bar-shown.light {
    background-color: white;
}

.left-bar-shown.dark {
    background-color: black;
}

.left-bar-hidden {

    z-index: 200;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 30px;
    margin-left: 14px;
    margin-top: 14px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 202, 202);

    padding: 10px;

    box-sizing: border-box;
    transition: opacity 3s ease-in-out, transform 3s ease-in-out, background-color 1.1s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.left-bar-hidden.light {
    background-color: white;
}

.left-bar-hidden.dark {
    background-color: black;
}


.left-bar-size-main {
    width: 72px;
    height: 72px;
}

.left-bar-size-build {
    width: 72px;
    height: 250px;
}

.left-bar-size-add {
    width: 72px;
    height: 130px;

}

.left-bar-backdiv {

    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 275px;
    height: 100%;
    transition: background-color 1.1s ease;
}

.left-bar-backdiv.light {
    background-color: rgba(250, 246, 240, 255);
}

.left-bar-backdiv.dark {
    background-color: black;
}


.top-leftbar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.rules-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.right-section-rules-hidden {
    z-index: 200;
    position: fixed;
    top: 74px;
    margin-left: 102px;
    margin-right: 102px;
    height: 100%;

}

.menu-picture {
    border-radius: 7px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
}

.menu-picture.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-picture.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 10px white;
}


.arrow-left {
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.arrow-left.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.arrow-left.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 10px white;
}

.plus-menu-picture {
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.plus-menu-picture.light:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.plus-menu-picture.dark:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 15px white;
}

.searchbar-menu {
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.arrow-menu {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button-section {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
}

